name: Deploy Intel-Engine
on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to Droplet via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          envs: TWITTER_API_KEY=${{ secrets.TWITTER_API_KEY }},TWITTER_API_SECRET=${{ secrets.TWITTER_API_SECRET }},TWITTER_ACCESS_TOKEN=${{ secrets.TWITTER_ACCESS_TOKEN }},TWITTER_ACCESS_SECRET=${{ secrets.TWITTER_ACCESS_SECRET }},BLUESKY_IDENTIFIER=${{ secrets.BLUESKY_IDENTIFIER }},BLUESKY_APP_PASSWORD=${{ secrets.BLUESKY_APP_PASSWORD }},INTEL_WEBHOOK_URL=${{ secrets.INTEL_WEBHOOK_URL }},MON_WEBHOOK=${{ secrets.MON_WEBHOOK }},WINGSPAN_API=${{ secrets.WINGSPAN_API }},BACKGROUND_API_URL=${{ secrets.BACKGROUND_API_URL }},PORT=${{ secrets.PORT }},R2_BASE_URL=${{ secrets.R2_BASE_URL }},BLANKSPACE_HOOK=${{ secrets.BLANKSPACE_HOOK }},TRIPWIRE_URL=${{ secrets.TRIPWIRE_URL }}
          script: |
            set -e
            cd socket-kill
            echo "TWITTER_API_KEY=$TWITTER_API_KEY" > .env
            echo "TWITTER_API_SECRET=$TWITTER_API_SECRET" >> .env
            echo "TWITTER_ACCESS_TOKEN=$TWITTER_ACCESS_TOKEN" >> .env
            echo "TWITTER_ACCESS_SECRET=$TWITTER_ACCESS_SECRET" >> .env
            echo "BLUESKY_IDENTIFIER=$BLUESKY_IDENTIFIER" >> .env
            echo "BLUESKY_APP_PASSWORD=$BLUESKY_APP_PASSWORD" >> .env
            echo "INTEL_WEBHOOK_URL=$INTEL_WEBHOOK_URL" >> .env
            echo "MON_WEBHOOK=$MON_WEBHOOK" >> .env
            echo "WINGSPAN_API=$WINGSPAN_API" >> .env
            echo "BACKGROUND_API_URL=$BACKGROUND_API_URL" >> .env
            echo "PORT=$PORT" >> .env
            echo "R2_BASE_URL=$R2_BASE_URL" >> .env
            echo "BLANKSPACE_HOOK=$BLANKSPACE_HOOK" >> .env
            echo "TRIPWIRE_URL=$TRIPWIRE_URL" >> .env
            cat .env
            git pull
            docker compose down
            docker compose up -d --build